*

!/.gitignore
!/LICENSE
!/README.md
!/albumctl.toml

!/Art Blakey - (1959) Art Blakey and The Jazz Messengers \[Moanin'\]/
!/Art Blakey - (1959) Art Blakey and The Jazz Messengers \[Moanin'\]/module.toml
!/Art Blakey - (1959) Art Blakey and The Jazz Messengers \[Moanin'\]/(2014) MMBST-84003/
!/Art Blakey - (1959) Art Blakey and The Jazz Messengers \[Moanin'\]/(2014) MMBST-84003/module.toml

!/Art Blakey - (1961) A Night in Tunisia/
!/Art Blakey - (1961) A Night in Tunisia/module.toml
!/Art Blakey - (1961) A Night in Tunisia/(2019) MMBST-84049/
!/Art Blakey - (1961) A Night in Tunisia/(2019) MMBST-84049/module.toml

!/Art Blakey - (1965) Free for All/
!/Art Blakey - (1965) Free for All/module.toml
!/Art Blakey - (1965) Free for All/(2019) MMBST-84170/
!/Art Blakey - (1965) Free for All/(2019) MMBST-84170/module.toml

!/Charles Mingus - (1959) Mingus Ah Um/
!/Charles Mingus - (1959) Mingus Ah Um/module.toml
!/Charles Mingus - (1959) Mingus Ah Um/(2020) UD1S 2-010/
!/Charles Mingus - (1959) Mingus Ah Um/(2020) UD1S 2-010/module.toml

!/Charles Mingus - (1960) Blues & Roots/
!/Charles Mingus - (1960) Blues & Roots/module.toml
!/Charles Mingus - (1960) Blues & Roots/(2023) APA 001-45/
!/Charles Mingus - (1960) Blues & Roots/(2023) APA 001-45/module.toml

!/Grachan Moncur III - (1964) Evolution/
!/Grachan Moncur III - (1964) Evolution/module.toml
!/Grachan Moncur III - (1964) Evolution/(2010) MMBST-84153/
!/Grachan Moncur III - (1964) Evolution/(2010) MMBST-84153/module.toml

!/Grant Green - (1965) Idle Moments/
!/Grant Green - (1965) Idle Moments/module.toml
!/Grant Green - (1965) Idle Moments/(2014) MMBST-84154/
!/Grant Green - (1965) Idle Moments/(2014) MMBST-84154/module.toml

!/Herbie Hancock - (1965) Maiden Voyage/
!/Herbie Hancock - (1965) Maiden Voyage/module.toml
!/Herbie Hancock - (1965) Maiden Voyage/(2015) MMBST-84195/
!/Herbie Hancock - (1965) Maiden Voyage/(2015) MMBST-84195/module.toml

!/Herbie Hancock - (1973) Head Hunters/
!/Herbie Hancock - (1973) Head Hunters/module.toml
!/Herbie Hancock - (1973) Head Hunters/(2020) APJ 084-45
!/Herbie Hancock - (1973) Head Hunters/(2020) APJ 084-45/module.toml

!/John Coltrane - (1965) A Love Supreme/
!/John Coltrane - (1965) A Love Supreme/module.toml
!/John Coltrane - (1965) A Love Supreme/(2010) AIPJ 77/
!/John Coltrane - (1965) A Love Supreme/(2010) AIPJ 77/module.toml

!/Lee Morgan - (1964) The Sidewinder/
!/Lee Morgan - (1964) The Sidewinder/module.toml
!/Lee Morgan - (1964) The Sidewinder/(2020) MMBST-84157/
!/Lee Morgan - (1964) The Sidewinder/(2020) MMBST-84157/module.toml

!/Lee Morgan - (1966) Search for the New Land/
!/Lee Morgan - (1966) Search for the New Land/module.toml
!/Lee Morgan - (1966) Search for the New Land/(2016) MMBST-84169/
!/Lee Morgan - (1966) Search for the New Land/(2016) MMBST-84169/module.toml

!/McCoy Tyner - (1967) The Real McCoy/
!/McCoy Tyner - (1967) The Real McCoy/module.toml
!/McCoy Tyner - (1967) The Real McCoy/(2020) 0743884/
!/McCoy Tyner - (1967) The Real McCoy/(2020) 0743884/module.toml

!/Miles Davis - (1959) Kind of Blue/
!/Miles Davis - (1959) Kind of Blue/module.toml
!/Miles Davis - (1959) Kind of Blue/(2021) UHQR 0004
!/Miles Davis - (1959) Kind of Blue/(2021) UHQR 0004/module.toml

!/Pete La Roca - (1965) Basra/
!/Pete La Roca - (1965) Basra/module.toml
!/Pete La Roca - (1965) Basra/(2012) MMBST-84205/
!/Pete La Roca - (1965) Basra/(2012) MMBST-84205/module.toml

!/Pink Floyd - (1975) Wish You Were Here/
!/Pink Floyd - (1975) Wish You Were Here/module.toml
!/Pink Floyd - (1975) Wish You Were Here/(1984) SHVL814/
!/Pink Floyd - (1975) Wish You Were Here/(1984) SHVL814/module.toml

!/Steely Dan - (1977) Aja/
!/Steely Dan - (1977) Aja/module.toml
!/Steely Dan - (1977) Aja/(2023) UHQR 0014-45/
!/Steely Dan - (1977) Aja/(2023) UHQR 0014-45/module.toml

!/Wayne Shorter - (1964) Night Dreamer/
!/Wayne Shorter - (1964) Night Dreamer/module.toml
!/Wayne Shorter - (1964) Night Dreamer/(2010) MMBST-84173/
!/Wayne Shorter - (1964) Night Dreamer/(2010) MMBST-84173/module.toml

!/Wayne Shorter - (1966) Speak No Evil/
!/Wayne Shorter - (1966) Speak No Evil/module.toml
!/Wayne Shorter - (1966) Speak No Evil/(2015) MMBST-84194/
!/Wayne Shorter - (1966) Speak No Evil/(2015) MMBST-84194/module.toml

!/Wayne Shorter - (1967) Adam's Apple/
!/Wayne Shorter - (1967) Adam's Apple/module.toml
!/Wayne Shorter - (1967) Adam's Apple/(2019) MMBST-84232/
!/Wayne Shorter - (1967) Adam's Apple/(2019) MMBST-84232/module.toml

!/Yes - (1971) Fragile/
!/Yes - (1971) Fragile/module.toml
!/Yes - (1971) Fragile/(2025) APA 014-45/
!/Yes - (1971) Fragile/(2025) APA 014-45/module.toml

!/Yes - (1972) Close to the Edge/
!/Yes - (1972) Close to the Edge/module.toml
!/Yes - (1972) Close to the Edge/(2025) APA 044-45/
!/Yes - (1972) Close to the Edge/(2025) APA 044-45/module.toml
