*

!/.gitignore
!/LICENSE
!/README.md
!/albumctl.toml

!/John Coltrane - (1965) A Love Supreme/
!/John Coltrane - (1965) A Love Supreme/module.toml
!/John Coltrane - (1965) A Love Supreme/(2010) AIPJ 77/
!/John Coltrane - (1965) A Love Supreme/(2010) AIPJ 77/module.toml

!/Lee Morgan - (1966) Search for the New Land/
!/Lee Morgan - (1966) Search for the New Land/module.toml
!/Lee Morgan - (1966) Search for the New Land/(2016) MMBST-84169/
!/Lee Morgan - (1966) Search for the New Land/(2016) MMBST-84169/module.toml

!/McCoy Tyner - (1967) The Real McCoy/
!/McCoy Tyner - (1967) The Real McCoy/module.toml
!/McCoy Tyner - (1967) The Real McCoy/(2020) 0743884/
!/McCoy Tyner - (1967) The Real McCoy/(2020) 0743884/module.toml

!/Pete La Roca - (1965) Basra/
!/Pete La Roca - (1965) Basra/module.toml
!/Pete La Roca - (1965) Basra/(2012) MMBST-84205/
!/Pete La Roca - (1965) Basra/(2012) MMBST-84205/module.toml

!/Wayne Shorter - (1964) Night Dreamer/
!/Wayne Shorter - (1964) Night Dreamer/module.toml
!/Wayne Shorter - (1964) Night Dreamer/(2010) MMBST-84173/
!/Wayne Shorter - (1964) Night Dreamer/(2010) MMBST-84173/module.toml

!/Wayne Shorter - (1966) Speak No Evil/
!/Wayne Shorter - (1966) Speak No Evil/module.toml
!/Wayne Shorter - (1966) Speak No Evil/(2015) MMBST-84194/
!/Wayne Shorter - (1966) Speak No Evil/(2015) MMBST-84194/module.toml
