*

!/.gitignore
!/LICENSE
!/README.md
!/albumctl.toml

!/John Coltrane - (1965) A Love Supreme/
!/John Coltrane - (1965) A Love Supreme/module.toml
!/John Coltrane - (1965) A Love Supreme/(2010) AIPJ 77/
!/John Coltrane - (1965) A Love Supreme/(2010) AIPJ 77/module.toml

!/Wayne Shorter - (1964) Night Dreamer/
!/Wayne Shorter - (1964) Night Dreamer/module.toml
!/Wayne Shorter - (1964) Night Dreamer/(2010) MMBST-84173/
!/Wayne Shorter - (1964) Night Dreamer/(2010) MMBST-84173/module.toml

!/Wayne Shorter - (1966) Speak No Evil/
!/Wayne Shorter - (1966) Speak No Evil/module.toml
!/Wayne Shorter - (1966) Speak No Evil/(2015) MMBST-84194/
!/Wayne Shorter - (1966) Speak No Evil/(2015) MMBST-84194/module.toml
